<% @title = "#{@doc_instance.full_name}" %>
<% section = @doc_instance %>
<h2><span>Section </span><%= section.name %></h2>
<div class="section">
	<h3 class="description">Description</h3>
	<%= htmlize(section.description) %>
</div>
<% utilities = section.utilities %>
<% unless utilities.empty? %>
	<div class="section">
		<h3 class="utility">Utilities</h3>
		<ul class="methods">
			<% utilities.each do |utility| %>  
				<li><%= auto_link_code(utility) %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<% namespaces = section.namespaces %>
<% unless namespaces.empty? %>
	<div class="section">
		<h3 class="namespace">Namespaces</h3>
		<ul class="entities">
			<% namespaces.each do |namespace| %>
				<li>
					<h4><a href="<%= path_to(namespace) %>"><%= namespace.full_name %></a></h4>
					<% unless namespace.short_description.nil? %>
						<%= htmlize(namespace.short_description) %>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>
<% klasses = section.klasses %>
<% unless klasses.empty? %>
	<div class="section">
		<h3 class="class">Classes</h3>
		<ul class="entities">
			<% klasses.each do |klass| %>
				<li>
					<h4><a href="<%= path_to(klass) %>"><%= klass.full_name %></a></h4>
					<% unless klass.short_description.nil? %>
						<%= htmlize(klass.short_description) %>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>